 body{
    background-color: rgb(244, 244, 248);
    margin: 0;
    padding: 0;
 }
 .header{
    padding-top: 4vw;
    background-color: black;
 }
 .head{
    font-family: Courier;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    color: aliceblue;
    margin-top: 0;
    display: block;
  
 }
 .cassd{
    width: 5%;
    position: absolute;
    bottom: 10%;
    right: 0;
 }
 .header ul:not(.not){
    
    background-color: black;
    list-style-type: none;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-around;
    padding-bottom: 3px;
 }
 .header li{
    display: inline-block;
 }
li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
 }
 
 .dropdown{
    position: relative;
 }
.prayerlist{
    position: absolute;
    z-index: 1;
    width: 20vw;
    background-color: white;
    font-weight: 700;
    left: -30%;
    box-shadow: 0px 0px 15px 2px rgb(126, 112, 112);
    border-radius: 10px;
    display: none;
}
.dropdown:hover .prayerlist{
    display: block;
}
.prayerlist a{
    color: black;
    border-bottom: none;
    text-align: center;
    font-family: monospace;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.5rem;
}  
.prayerlist a:hover{
    background-color: antiquewhite;
    border-radius: 10px;     
}
li a:link:not(.prayerlist a){
    border-bottom: 2px solid  white;
}
li a:visited:not(.prayerlist a){
    border-bottom: 2px solid black;
}
li a:hover:not(.prayerlist a){
    border-bottom: 2px solid  white;
}
li a:active:not(.prayerlist a){
    border-bottom: 2px solid  white;
}
#bodypart{
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: 0vw;
}
.first_part{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(75, 68, 68);
    padding: .3vw;

}
.first_part h1#apart{
        text-transform: uppercase;
        font-size: larger;
        font-weight: 800;
        font-style: italic;
        font-family: Georgia;
        text-justify: inter-ideograph;
        line-height: 2vw;
        margin-bottom: 0%;
    }
.first_part h1#bpart{
    margin-top: -7%;
    text-align: center;
    font-style: oblique;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    border-bottom: 2px double black;
    padding-bottom: 3%;
    position: relative;
}
.mypass p{
    font-size: 2vw;
    text-align: justify;
    padding: 1vw;
    text-indent: 1vw;
}
.mypass li{
    font-size: 1.5vw;
    line-height: 5vh;
    font-weight: 900;
    font-family: monospace;

}
.mypass{
    background-color: black;
    color: aliceblue;
    padding: 1vw;
    margin: 1vw;
    border-radius: 2vw;
    
}
.sustained dl, dt, dd{
    font-size: 2vw;
     
}
.sustained{
    display: block;
    position: relative;
}

.question_table li{
    list-style-type: none;
    height: 4vw;
    line-height: 4vw;
    width:  96.4%;
    background-color: aliceblue;
    padding: .9vw;
    text-align: center;
    font-size: 1.7vw;
    font-size: 2vw;
}
.question_table{
    padding: 0;
    position: relative;
    margin-top: 5vw;
    width: 80%;
    margin: auto;
    margin-top: 4vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 6px 1px rgb(92, 92, 92);
}
.question_table li:first-child{
    height: 6vw;
    line-height: 6vw;
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
    font-weight: 900;
    text-shadow: 1px 1px 1px black, 2px 2px 2px white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 0px 1.2px rgb(0, 0, 0);
}
.question_table li:not(:first-child):hover{
    box-shadow: 0px 0px 1px 2px rgb(221, 123, 123);
    background-color: antiquewhite;
}
.question_table li:not(:first-child){
    margin-bottom: .5vw;
}
 .jesuspics{
    width: 30%;
    margin-left: 16%;
    position: fixed;
    top: 20%;
    z-index: -2;
    border-radius: 50% 50%;
    box-shadow: 1px 1px 1px 4px white, 1px 1px 1px 8px red;
 }
 .cover{
    height: 40vh;
    width: 40%;
    margin-left: 10%;
    position: absolute;
    top: 20%;
    z-index: -1;
    background-color: rgb(244, 244, 248);
 }
 .space{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    color: aliceblue;
    height: fit-content;
    position: relative;
    filter: blur(100deg);
    line-height: 30vw;
    text-align: center;
    font-size: 3rem;
 }
 .space h1{
    margin-top: -10rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: aliceblue;
    text-shadow: 1px 1px 1px black, 2px 2px 1px white, -3px 3px 9px rgb(247, 25, 25), 3px -1px 8px yellow;
 }
 .space h2{
    margin-top: 60px;
    line-height: 10rem;
 }

 .space h1,.space h2{
    font-family:Arial, Helvetica, sans-serif;

 }
 .footer{
    margin-top: -3rem;
    height: 12vw;
    background-color: black;
    line-height: 12vw;
 }
 .fott{
    color: aliceblue;
    font-size: 5rem;
    text-align: center;
 }